# The URL the site will be built for
base_url = "https://vjay15.github.io"

# Whether to automatically compile all Sass files in the sass directory
compile_sass = false

# Whether to build a search index to be used later on by a JavaScript library
build_search_index = true

[markdown]
# Whether to do syntax highlighting
# Theme can be customised by setting the `highlight_theme` variable to a theme supported by Zola
highlight_code = true

[extra]
# Put all your custom variables here

# Navigation items for navbar
navbar_items = [
    { name = "About", url = "/about" },
    { name = "Portfolio", url = "/portfolio" },
    { name = "Blog", url = "/blog" },
    { name="Bucket List", url="/bucketlist"},
    { name="Resume", url="/files/Resume.pdf"}
]

# Social links for footer (logos are automatically used)
github_url = "https://github.com/vjay15"
linkedin_url = "https://linkedin.com/in/vjay15"
email = "vjaylakshman15@gmail.com"

[search]
# Whether to include the title of the page/section in the index.
include_title = true
# Whether to include the description of the page/section in the index.
include_description = true
# Whether to include the path of the page/section in the index.
include_path = true
# Whether to include the rendered content of the page/section in the index.
include_content = true
# At which character to truncate the content to. Useful if you have a lot of pages and the index would
# become too big to load on the site. Defaults to not being set.
# truncate_content_length = 100
# Wether to produce the search index as a javascript file or as a JSON file.
# Accepted value "elasticlunr_javascript" or "elasticlunr_json".
index_format = "elasticlunr_json"