# On every push this script is executed
on:
  push:
    branches:
      - main

permissions:
  contents: read

name: Build and deploy GH Pages
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout source repository
        uses: actions/checkout@v4
      
      - name: Install Zola
        run: |
          curl -L https://github.com/getzola/zola/releases/download/v0.21.0/zola-v0.21.0-x86_64-unknown-linux-gnu.tar.gz
          sudo mv zola /usr/local/bin
      
      - name: Build Zola site
        run: zola build
      
      - name: Deploy to vjay15.github.io repository
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.DEPLOY_TOKEN }}
          external_repository: Vjay15/vjay15.github.io
          publish_dir: ./public
          publish_branch: main
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'